/*
.news {
  display: block;
  border-collapse: separate;
}
.para {
  color: #000;
  background-color: cadetblue;
}
.img {
  width: 300px;
  height: 200px;
}
.desc {
  margin-left: 75%;
}
.time {
  float: left;
  color: aquamarine;
}
.port {
  margin-right: 16%;
}
.body {
  background-color: chocolate;
}
*/
